<!DOCTYPE html>
<html lang='en'>
    <head>
        <title></title>
        <meta description=''
        <meta charset='utf-8'/>
        <link rel='stylesheet' type='text/css' href='style.css' />
    </head>
    <body>
        <div id='wrapper'>
            <h1>Counter</h1>
            <p>COUNTER PLACEHOLDER</p>
            <form action='/plus2' method='POST'>
                <input id='plus2' type='submit' value='Add 2 to counter'>
            </form>
            <form action='reset'>
                <input id='reset' type='submit' value='Reset'>
            </form>
        </div>
    </body>
</html>